body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
    padding: 10px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

main {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

#post-title, #post-content {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#post-title:read-only, #post-content:read-only {
    background: #f4f4f4;
    border: none;
}


.delete-button {
    background: red;
    margin-left: 10px;
}

.delete-button:hover {
    background: darkred;
}

